<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="default.html" />
                <add value="default.htm" />
                <add value="index.php" />
                <add value="default.php" />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="index.aspx" />
                <add value="default.aspx" />
                <add value="holding.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <modules>
            <remove name="Helicon.Ape" />
            <add name="Helicon.Ape" type="Helicon.Ape.ApeModule, Helicon.Ape, Version=3.1.0.248, Culture=neutral, PublicKeyToken=95bfbfd1a38437eb" />
        </modules>    
  </system.webServer>
    <system.web>
        <compilation debug="false" />
    </system.web>
</configuration>
