<h4>Payment</h4>
    <p>We accept the following payment methods:</p>
    <ul>
        <li>PayPal</li>
        <li>US Postal Service Money Order</li>
        <li>Personal Check (funds must clear, before the animal(s) can be shipped)</li>
		<li>All sales within the state of California must include 8.0% sales tax</li>
    </ul>

<h4>Payment Plans</h4>
    <p>In some cases (decided on a case-by-case basis) we do allow short-term payment plans on the following conditions:</p>
    <ul>
        <li>25% non-refundable deposit is required to hold the animal
        <li>25% due every 30 days thereafter, with the final payment due on day 90 (i.e. 25% on day 1, 25% due on day 30, 25% due on day 60, 25% due on day 90)
        <li>Maximum term length is 90 days
        <li>The outstanding balance must be paid in full by the end of the payment plan term, before the animal can be shipped
		<li>If a payment is missed, or the buyer otherwise violates any terms of the payment agreement, we may choose to terminate the payment plan.  If that happens the buyer relinquishes their deposit, and any additional payments are refunded to the buyer.</li>
    </ul>

<h4>Shipping</h4>			
    <ul>
        <li>We ship our animals Monday through Wednesday via Fedex Priority Overnight service.</li>
        <li>All animals will be shipped to a staffed FedEx facility <u><strong>only</strong></u>, and held there for pick up. There will be no exceptions.</li>
        <li>We reserve the right to cancel the shipment, if the temperature in your area is expected to be below 40 or above 90 degrees during the course of shipment.</li>
    </ul>

<h4>Live Arrival Guarantee</h4>
    <p>We guarantee that our animal(s) will arrive live and healthy, if the following conditions are met:</p>
    <ul>
        <li>Outside temperature stays within 40-90 degrees range during transit time.</li>
        <li>The animal is picked up from the FedEx facility, unboxed and inspected within the two hours of its arrival.</li>
        <li>In the event that our animal(s) arrive(s) dead or appear(s) injured upon inspection, buyer must contact us immediately and be ready to provide photographic evidence to receive a refund.</li>
    </ul>
</div>

<h4>Health Guarantee</h4>
<p>
	All animals are guaranteed to be outwardly healthy and free of external parasites. We do not guarantee that any chondro 
	purchased from me will not develop prolapses, skin folds or spinal kinks in the future. Any problems must be brought to 
	our attention within 24 hours of receiving shipment. After 24 hours of the shipment's arrival, we assume no further liabilities. 
	Should the purchaser wish to return an animal, the expense of return shipping will be covered by the purchaser, not the seller. 
	We guarantee that all animals are feeding aggressively for us. Shipping is very stressful and can result in chondros going off 
	feed. We will do our best to help you if this does occur. It is your responsibility to have the knowledge and experience to care 
	for and feed any snakes purchased from us. This includes the possibility of re-establishing a chondro to eat again.</p>
