<div class="content">
  <div class="row top">
      <div class="col-md-4">

      </div>
      <div class="col-md-4" style="text-align: center">
          <img src="/images/GRR_Logo_NoCircle_240_2016.png" class="footlogo" alt="Gold River Reptile" />
      </div>
      <div class="col-md-4">

      </div>
  </div>
  <div class="row bottom">
      <ol class="small breadcrumb">
          <li><a ui-sref="index">Home</a></li>
          <li><a ui-sref="Collection">Collection</a></li>
          <li><a ui-sref="Projects">Projects</a></li>
          <li><a ui-sref="Available">Available</a></li>
          <li><a ui-sref="About">About Us</a></li>
          <li><a ui-sref="Terms">Terms and Conditions</a></li>
          <li><a ui-sref="FAQs">FAQs</a></li>
      </ol>
      <p class="small">
        Phone: 916.873.6951 |
        Email: <a href="mailto:info@grreptile.com">info@grreptile.com</a>
      </p>
      <p class="copyright">Copyright 2016 &copy; Gold River Reptile</p>
  </div>
</div>
